.container {
    background-color: rgb(167, 247, 243);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-dark {
    background-color: #3a8a41;
}

.mt-50 {
    margin-top: 50px;
}
